.speaker {
    margin-top: 15px;
}
.speaker .speaker-photo {
    width: 80%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.speaker .speaker-photo img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.speaker .keynote-name {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}
.speaker .keynote-position {
    text-align: center;
    padding-top: 0px;
    font-size: 0.85em;
}
.speaker .keynote-affiliation {
    text-align: center;
    padding-top: 0px;
    font-style: italic;
    font-size: 0.65em;
}
.speaker .speaker-name {
    text-align: center;
    padding-top: 10px;
    font-size: 0.85em;
}
.speaker .speaker-position {
    text-align: center;
    padding-top: 0px;
    font-size: 0.75em;
}
.speaker .speaker-affiliation {
    text-align: center;
    padding-top: 0px;
    font-style: italic;
    font-size: 0.65em;
}
.speaker .speaker-bio {
    /* display: none; */
    font-size: 0.75em;
    margin-top: 20px;
}
.speaker .speaker-social {
    text-align: center;
    padding: 5px;
    font-size: 1.25em;
}

#speakers .speaker .speaker-photo {
}

.abstract {
    display: none;
    background-color: #ddd;
    margin-top: 15px;
    border: 1px dashed;
    padding: 5px;
    cursor: pointer;
}
.session-abstract {
    /* display: none; */
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: lightblue;
}
.session-abstract p:last-child {
    margin-bottom: 0px;
}
.session-title {
    font-weight: bolder;
}
.session-talk {
    font-size: 0.75em;
}
.session-chair {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 10px;
}
.session-chair::before {
    content: "Chair: ";
}

.lightning {
    color: orange;
}