#footer {
	 height: 60px;
	 background-color: #f5f5f5;
}

.credit {
   margin-top: 20px;
   text-align:center
}

.thumbnail {
	float: right;
	margin: 15px;
}

.sidebar {
}

.subhead {
	background-image: url('../images/banner-2.png');
	/* background-size: 1920px 195px; */
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-shadow: 3px 3px 5px black;
	margin-bottom: 10px;
	white-space: nowrap;
	text-align: center;
}

#topheader {
	padding: 45px;
}

.subhead h1 {
	font-size: 60px;
}

.subhead .lead {
    margin-bottom: -25px;
}

.subhead p {
    margin-top: 20px;
	font-size: 24px;
	font-weight: 300;
}

#logodiv {
    text-align: center;
}
#logodiv img {
    max-width: 75%;
    margin-bottom: 10px;
}

.nav li a {
	color: #003399;
}

#emptyness {
	height: 200px;

}

#regscreenshot{
	margin-top: 10px;
	margin-bottom: 15px;
}

section {
	padding-top: 10px;
}

@media all and (max-width:779px){
	.subhead h1 {
		font-size: 32px;
	}

	.subhead p {
		font-size: 24px;
		font-weight: 300;
	}

	#sponsors li{
		width: 200px;
		margin: auto;
	}
}

@media all and (max-width:479px){
	.subhead, .media-object {
		display: none;
	}

}

.media-object{
	width: 64px;
	margin-right: 25px;
	margin-top: 15px;
}

#pagemenu > div > ul > li.nav-header {
    padding: 10px 15px;
}

#pagemenu > div > ul {
    margin-left: 0px;	
}

#pagemenu > div > ul > li {
    padding-left: 20px;	
}

/*
.nav > li > a {
    padding: 10px 0px;
}
*/

#pagemenu > div > ul > li > a > i {
	padding-right: 10px;
}

.speaker {
    margin-top: 15px;
}
.speaker .speaker-photo {
    width: 80%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.speaker .speaker-photo img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.speaker .speaker-name {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}
.speaker .speaker-position {
    text-align: center;
    padding-top: 0px;
    font-size: 1.25em;
}
.speaker .speaker-affiliation {
    text-align: center;
    padding-top: 0px;
    font-style: italic;
    font-size: 1em;
}
.speaker .speaker-bio {
    /* display: none; */
    font-size: 0.75em;
    margin-top: 20px;
}
.speaker .speaker-social {
    text-align: center;
    padding: 5px;
    font-size: 1.25em;
}

#speakers .speaker .speaker-photo {
    width: 50%;
}
#speakers .speaker .speaker-name {
    font-size: 1.75em;
}
