.speaker {
    margin-top: 15px;
}
.speaker .speaker-photo {
    width: 80%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.speaker .speaker-photo img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.speaker .keynote-name {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}
.speaker .keynote-position {
    text-align: center;
    padding-top: 0px;
    font-size: 1.25em;
}
.speaker .keynote-affiliation {
    text-align: center;
    padding-top: 0px;
    font-style: italic;
    font-size: 0.75em;
}
.speaker .speaker-name {
    text-align: center;
    padding-top: 10px;
    font-size: 1em;
}
.speaker .speaker-position {
    text-align: center;
    padding-top: 0px;
    font-size: 1em;
}
.speaker .speaker-affiliation {
    text-align: center;
    padding-top: 0px;
    font-style: italic;
    font-size: 1em;
}
.speaker .speaker-bio {
    /* display: none; */
    font-size: 0.75em;
    margin-top: 20px;
}
.speaker .speaker-social {
    text-align: center;
    padding: 5px;
    font-size: 1.25em;
}

#speakers .speaker .speaker-photo {
}
