<section id="about">
    <h1>SAT<b>R</b>DAY</h1>
    <p>
        The R community and some of South Africa's most forward thinking companies have come together to bring sat<b>R</b>day back for its third edition. This conference provides an opportunity to hear from and network with top Researchers, Data Scientists and Developers from the R community in South Africa and beyond.
    </p>
    <p>Some pictures from sat<b>R</b>day March 2018, hosted in Cape Town.</p>

    <div class="row photos">
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/venue,_outside,_beforehand_1.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/registration_4.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/first_tea_break_3.png" width="100%"></div>
    </div>
    <div class="row photos">
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/registration_6.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/speaker_1_robert_bennetto_1.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/first_tea_break_10.png" width="100%"></div>
    </div>
        <div class="row photos">
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/speaker_5_peter_kamerman_2.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/speaker_3_maphale_matlala_1.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/speaker_7_alice_elizabeth_coyne_1.png" width="100%"></div>
    </div>
        <div class="row photos">
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/speaker_20_andrew_clark.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/speaker_18_wiebke_toussaint_1.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/RStudio_giveaway_recipients.png" width="100%"></div>
    </div>
        <div class="row photos">
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/RStudio_quiz,_winner_two_1.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/cocktails_and_conversation_3.png" width="100%"></div>
        <div class="col-md-4"><img src="images/satRday_2018_photos_for_website/cocktails_and_conversation_7.jpg" width="100%"></div>
    </div>
</section>