<section id="about">
    <h1>SAT<b>R</b>DAY</h1>
    <p>
        The R community and some of South Africa's most forward thinking companies have come together to bring sat<b>R</b>day
        to Cape Town. This conference provides an opportunity to hear from and network with top Researchers, Data Scientists
        and Developers from all over the country and the world.
    </p>
    <div class="row photos">
        <div class="col-md-6"><img src="images/D3S_6887.JPG" width="100%"></div>
        <div class="col-md-6"><img src="images/D3S_6897.JPG" width="100%"></div>
    </div>
    <div class="row photos">
        <div class="col-md-6"><img src="images/D3S_7126.JPG" width="100%"></div>
        <div class="col-md-6"><img src="images/D3S_7002.JPG" width="100%"></div>
    </div>
    <div class="row photos">
        <div class="col-md-6"><img src="images/D3S_7005.JPG" width="100%"></div>
        <div class="col-md-6"><img src="images/D3S_7209.JPG" width="100%"></div>
    </div>
    <div class="row photos">
        <div class="col-md-6"><img src="images/D3S_6891.JPG" width="100%"></div>
        <div class="col-md-6"><img src="images/D3S_7014.JPG" width="100%"></div>
    </div>
    <p>
        Join the R community in registering for this exciting day dedicated to R.
    </p>

    <div class="center">
        <a class="btn btn-success register" href="" target="BLANK">Register Now!</a>
    </div>
</section>