<section id="about">
    <h1>SAT<b>R</b>DAY</h1>
    <p>
        The R community and some of South Africa's most forward thinking companies have come together to bring sat<b>R</b>day
        to Cape Town. This conference brings an opportunity to hear from and network with top Researchers, Data Scientists
        and Developers from all over the country and the world.
        <br/><br/> 
        Join the R community in registering for this exciting day dedicated to R.
    </p>

    <div class="center">
        <a class="btn btn-success register" href="https://www.quicket.co.za/events/22932-satrday-cape-town/" target="BLANK">Register Now!</a>
    </div>
</section>