<section id="callforpapers">
    <h2>Call for Papers</h2>
<!--
    <p>The Call for Papers is now closed. We received () submissions and we're currently putting together the technical programme.</p>
-->

    <p>Presentation proposals for sat<b>R</b>day Cape Town are now open.</p>
    
    <div class="center">
        <a class="btn btn-success register" href="https://www.papercall.io/satrday-cape-town-2018" target="BLANK">Submit your proposal</a>
    </div>

    <p>What are the benefits of giving a presentation?</p>
    <ul>
        <li>speakers will have their registration fees refunded;</li>
        <li>financial support may be possible for speakers;</li>
        <li>get prompt feedback on your proposed presentation;</li>
    </ul>

    <p>Feel free to submit one or more proposal(s) at the above URL. We will be considering the following presentation formats:</p>
    <ul>
        <li>Tutorial [90 min]</li>
        <li>Lightning Talk [5 min]</li>
        <li>Standard Talk [20 min]</li>
        <li>Poster</li>
    </ul>

</section>