<section id="callforpapers">
    <h2>Call for Papers</h2>

    <p><a href="https://datawookie.typeform.com/to/AvZ3NK">Presentation proposals</a> for satRday Cape Town are now open.</p>

    <p>What are the benefits of giving a presentation?</p>
    <ul>
        <li>speakers will have their registration fees refunded;</li>
        <li>financial support may be possible for speakers;</li>
        <li>get prompt feedback on your proposed presentation; and</li>
        <li>have the opportunity to speak at the first satRday in Africa (and the second in the World!).</li>
    </ul>

    <p>Feel free to submit one or more proposal(s) at the above URL. We will be considering the following presentation formats:</p>
    <ul>
        <li>Workshop [90 min]</li>
        <li>Lightning Talk [5 min]</li>
        <li>Standard Talk [20 min]</li>
        <li>Poster</li>
    </ul>

</section>