<footer class="site-footer">
</footer>
 
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/paperscript" src="js/trianglewave.js" canvas="Trianglewave"></script>
<script type="text/javascript" src="js/paper-full.js"></script>
<!--<script type="text/javascript" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
