<section id="importantdates">
    <h2>Important Dates</h2>
    
    <p>Working up to the conference on 18 February 2017, these are the most important dates on your calendar:</p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Workshop Submission Deadline</td>
                <td>2017-01-20</td>
            </tr>
            <tr>
                <td>Talk Submission Deadline</td>
                <td>2017-01-20</td>
            </tr>
            <tr>
                <td>Notification of Acceptance</td>
                <td>2017-01-25</td>
            </tr>
            <tr>
                <td>Early-Bird Registration Deadline</td>
                <td>2016-12-23</td>
            </tr>
            <!-- <tr><td>Dashboard Competition Project Submission Deadline</td><td></td></tr> -->
            <tr>
                <td>Registration Deadline</td>
                <td>2017-02-15</td>
            </tr>
            <tr>
                <td>Workshops</td>
                <td>2017-02-16 / 2017-02-17</td>
            </tr>
            <tr>
                <td>Conference</td>
                <td>2017-02-18</td>
            </tr>
        </tbody>
    </table>
</section>
