<section id="importantdates">
    <h2>Important Dates</h2>
    
    <p>Working up to the conference on 17 March 2018, these are the most important dates on your calendar:</p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Early-Bird Registration Deadline</td>
                <td>2018-01-20</td>
            </tr>
            <tr>
                <td>Tutorial Submission Deadline</td>
                <td>2018-02-03</td>
            </tr>
            <tr>
                <td>Talk Submission Deadline</td>
                <td>2018-02-03</td>
            </tr>
            <tr>
                <td>Official Notification of Submission Acceptance</td>
                <td>2018-02-10</td>
            </tr>
            <tr>
                <td>Registration Deadline</td>
                <td>2018-03-03</td>
            </tr>
            <tr>
                <td>Data Carpentry Workshop</td>
                <td>2018-03-15/16</td>
            </tr>
            <tr>
                <td>satRday Workshops</td>
                <td>2018-03-16</td>
            </tr>
            <tr>
                <td>Conference</td>
                <td>2018-03-17</td>
            </tr>
        </tbody>
    </table>
</section>
