<section id="programme">
    <h2>Programme</h2>

    <p>Tutorials are 1 hour long; standard talks are 20 minutes and lightning (<i class="fa fa-flash lightning"></i>) talks are a mere 5 minutes.</p>

	<table class="table table-hover">
		<thead>
		  	<tr><th>Start</th><th>End</th><th width="99%"></th></tr>
		</thead>
		<tbody>
		  	<tr>
		    	<td>7:30</td>
		    	<td>8:00</td>
		    	<td><div class="session-title">Early registration for Tutorials</div></td>
		  	</tr>
		  	<tr>
		    	<td>8:00</td>
		    	<td>9:00</td>
		    	<td>
		    		<div class="session-title">Tutorials</div>
		    		<div class="session-talk">
		    			<ul>
							<li> TBA (Raymond Ellis and Greg Streatfield)
							<li> Redis + R = Multi-user R apps (David Lubinsky)
							<li> Shiny / R and Devops (Marko Jakovljevic)
						</ul>
					</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>8:30</td>
		    	<td>9:30</td>
		    	<td>
		    		<div class="session-title">Registration / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>9:30</td>
		    	<td>9:40</td>
		    	<td>
		    		<div class="session-title">Welcome & Opening</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>9:40</td>
		    	<td>10:30</td>
		    	<td>
		    		<div class="session-title">Keynote #1</div>
		    		<div class="session-chair">Beulah Snyman</div>
		    		<div class="session-talk">
		    			Text mining, the tidy way (Julia Silge)
					</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>10:30</td>
		    	<td>11:45</td>
		    	<td>
		    		<div class="session-title">Talks (Business Applications of R)</div>
		    		<div class="session-chair">Jon Calder</div>
		    		<div class="session-talk">
		    			<ul>
							<li> Quantitative Strategy Development & Evaluation in R (Jasen Mackie)
							<li> Visualizing the approach and exceedance of thresholds (Glenn Moncrieff) <i class="fa fa-flash lightning"></i>
							<li> R at UBER (Marc van Heerden)
							<li> Rapid Data Science Application Deployment with R Shiny (Nkululeko Thangelane) <i class="fa fa-flash lightning"></i> 
							<li> Who goes there? Profiling street by street audience with Telco data (Kael Huerta)
							<li> Inventory Forecasting using R (Warren Allworth) <i class="fa fa-flash lightning"></i>
						</ul>
					</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>11:45</td>
		    	<td>12:45</td>
		    	<td>
		    		<div class="session-title">Lunch</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>12:45</td>
		    	<td>13:35</td>
		    	<td>
		    		<div class="session-title">Keynote #2</div>
		    		<div class="session-chair">Alice Coyne</div>
		    		<div class="session-talk">
		    			Data Rectangling (Jenny Bryan)
					</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>13:35</td>
		    	<td>14:40</td>
		    	<td>
		    		<div class="session-title">Talks (R in the Sciences)</div>
		    		<div class="session-chair">Andrew Collier</div>
		    		<div class="session-talk">
		    			<ul>
							<li> TBA (Anne Treasure and Katrin Tirok)
							<li> Impact of fishing on African penguin population off the West Coast (Andrea Ross-Gillespie) <i class="fa fa-flash lightning"></i>
							<li> MicRobiome ​Analysis (Katie Lennard and Kirsty Lee Garson)
							<li> Visual modelling with pavo (Jeroen van der Merwe) <i class="fa fa-flash lightning"></i>
							<li> Helping to ease the pain with R/RMarkdown (Peter Kamerman) <i class="fa fa-flash lightning"></i>
							<li> Prospects for Trachoma Elimination through targeted mass treatment (Laing Lourens) <i class="fa fa-flash lightning"></i>
							<li> Using R to understand Human Evolution (Kerryn Warren) <i class="fa fa-flash lightning"></i>
						</ul>
					</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>14:40</td>
		    	<td>15:10</td>
		    	<td>
		    		<div class="session-title">Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>15:10</td>
		    	<td>16:00</td>
		    	<td>
		    		<div class="session-title">Keynote #3</div>
		    		<div class="session-chair">Katie Lennard</div>
		    		<div class="session-talk">
		    			The you in community (Stephanie Locke)
					</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>16:00</td>
		    	<td>17:20</td>
		    	<td>
		    		<div class="session-title">Talks (General)</div>
		    		<div class="session-chair">Etienne Koen</div>
		    		<div class="session-talk">
		    			<ul>
							<li> Microsoft, Open Source, R: You gotta be kidding! (Niels Berglund)
							<li> R and PowerBI: best frenemies (Michael Johnson) <i class="fa fa-flash lightning"></i>
							<li> High performance R: integrating cpp into your workflow (Robert Bennetto)
							<li> Using visNetworks to Visualize Vine Copula (Hanjo Odendaal) <i class="fa fa-flash lightning"></i>
							<li> R as a GIS: Introduction to spatial data visualization and manipulation (Jacques Booysen)
							<li> Energy planning for climate change using R, StarCluster and Shiny (Schalk Heunis) <i class="fa fa-flash lightning"></i>
							<li> Open Data for Better Decision Making (Matthew Adendorff) <i class="fa fa-flash lightning"></i>
						</ul>
					</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>17:20</td>
		    	<td>17:30</td>
		    	<td>
		    		<div class="session-title">Break</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>17:30</td>
		    	<td>18:00</td>
		    	<td>
		    		<div class="session-title">Data Visualisation Challenge</div>
		    		<div class="session-chair">Ryan Nel</div>
			    </td>
		  	</tr>
		</tbody>
  	</table>
</section>