<section id="programme">
    <h2>Programme</h2>
	<h3>Workshops Programme</h3>

	<table class="table table-hover">
		<thead>
		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Friday 16 March 2018</th></tr>
		</thead>
		<tbody>
		  	<tr>
		    	<td>8:30</td>
		    	<td>9:00</td>
		    	<td><div class="session-title">Registration</div></td>
		  	</tr>
		  	<tr>
		    	<td>9:00</td>
		    	<td>10:30</td>
		    	<td><div class="session-title">First Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>10:30</td>
		    	<td>11:00</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>11:00</td>
		    	<td>12:30</td>
		    	<td>
		    		<div class="session-title">Second Session</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>12:30</td>
		    	<td>13:30</td>
		    	<td>
		    		<div class="session-title">Lunch</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>13:30</td>
		    	<td>15:00</td>
		    	<td><div class="session-title">Third Session</div></td>
		  	</tr>
		  	<tr>
		    	<td>15:00</td>
		    	<td>15:30</td>
		    	<td>
		    		<div class="session-title">Tea / Coffee</div>
			    </td>
		  	</tr>
		  	<tr>
		    	<td>15:30</td>
		    	<td>17:00</td>
		    	<td>
		    		<div class="session-title">Fourth Session</div>
			    </td>
		  	</tr>
	  	</tbody>
	  </table>

    <h3>Conference Programme</h3>

    <p>Standard talks are 20 minutes and lightning (<i class="fa fa-flash lightning"></i>) talks are a mere 5 minutes.</p>

    <p>Click on the title for any talk to view the details.</p>
 
	<table class="table table-hover">
		<thead>
		  	<tr><th>Start</th><th>End</th><th width="99%" style="text-align: right; color: blue;">Saturday 17 March 2018</th></tr>
		</thead>
		<tbody>
		  	<tr>
		    	<td>8:00</td>
		    	<td>8:30</td>
		    	<td><div class="session-title">Registration</div></td>
		  	</tr>

		  			  	<tr>
		    	<td>8:30</td>
		    	<td>8:40</td>
		    	<td><div class="session-title">Welcome</div></td>
		  	</tr>

		  	<tr>
		    	<td>8:40</td>
		    	<td>9:30</td>
		    	<td>

		    		<div class="session-chair">Wiebke Toussaint</div>
		    		<div class="session-title"></div>
		    		<div class="session-talk">

		    			<ul>
							<li class="talk"> Tidy geometries in R (Robert Bennetto)
								<div class="session-abstract abstract">
								<p>R provides several packages to help wrangle geometries. Many of these geometry packages precede the tidyverse  - meaning they are almost impossible to use correctly with the tidyverse. This talk will walk you through the principles of using `sf` - a spatial package that is tidy compliant.</p>
								</div>
							<li class="talk"> Presenting the R package FlowCAr: Flow Network Construction and Analysis in R (Christopher Waspe) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> FlowCAr is a R package which allows the user to understand the 'ins and outs' of any flow network. With limited data, a complex flow network can be accurately modeled, visualized and analysed. Using various sources of a data, the unknown information in a system can be solved and the system analysed.</p>
								</div>
							<li class="talk"> Automated Report Generation with R (Vishalin Pillay) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> We're often guilty of working in front of our noses, scripting in the 'here and now' and recycling this habit instead of the code. You don't need a seance to glimpse a little of how future work could be spared by generalizing your analysis templates and injecting some dynamism into the flow.</p>
								</div>	
							<li class="talk"> Testing the IUCN Red List for Ecosystems methodology on South African datasets (Maphale Matlala) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> My project is focused on comparing two of South African and IUCN RLE criteria that assesses spatial symptoms of ecosystem collapse. The redlistr package is used to conduct these assessments and non-parametric  test employed to determine if there significant difference between the two methodologies.</p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>9:30</td>
		    	<td>10:30</td>
		    	<td>
		    		<div class="session-title"> Keynote #1: (Maëlle Salmon) </div>
		    		<div class="session-chair">Kayleigh Lino</div>
		    		<div class="session-talk">
		    			<ul>				    			
							<li class="talk"> Our packages reviews in review: introducting and analyzing rOpenSci onboarding system 
								<div class="session-abstract abstract">
								<p> rOpenSci is a community of researchers and software developpers working together to provide better R tooling, mostly packages, for reproducible and open science. Some of these packages are contributed by staff, others by community members. In order to ensure quality of packages in the suite, rOpenSci _onboards_ packages from the community by having them undergo an open review process on GitHub. In this talk, you'll get introduced to this onboarding system. You'll hear about brand-new analyses of the system in R thanks to my [rectangling](https://www.youtube.com/watch?v=GapSskrtUzU) onboarding. You'll also get to learn about our continuous efforts at improving our system even more, in particular via automation. Come hear this talk if you want to know more about software review and about Git(Hub) data analysis! </p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr>
		  	
		  	<tr>
		    	<td>10:30</td>
		    	<td>11:00</td>
		    	<td>
		    		<div class="session-title"> Coffee/Tea </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>11:00</td>
		    	<td>12:30</td>
		    	<td>
		    		<div class="session-chair">Frederik Louw</div>
		    		<div class="session-title"><!-- Type of talk --> </div>
		    		<div class="session-talk">

		    			<ul>
							<li class="talk"> Making your exploratory data analysis purrr (Peter Kamerman) 
								<div class="session-abstract abstract">
								<p> If you find digging into nested and repeated measures data tedious and overly repetitive, list-columns and the power of purrr can alleviate the pain.</p>
								</div>
							<li class="talk"> Gathering Data from Dynamic Web Forms using RSelenium and Docker (Sean Soutar) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p>Scraping data can be difficult especially when dealing with dynamic forms. I present a case study of how I used RSelenium and Docker to simulate a user interacting with a ASP.NET form. This was done on the South African Reserve Bank’s online statistical query to automate file downloads.</p>
								</div>
							<li class="talk"> Futurology! (Alice Elizabeth Coyne) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> "Futurology (noun) - The study or forecasting of trends in science, technology, or social structure, etc. Life is all about the extremes! Even right now, Cape Town is in a drought. Not just a normal drought, an extreme drought! This talk looks at various techniques used to predict extremes."</p>
								</div>	
							<li class="talk"> Working with large data sets in R (Michael Johnson)
								<div class="session-abstract abstract">
								<p> The power of R is limited when we deal with larger datasets than the amount of memory we have available. RevoScaleR is a collection of functions that allow data to be analysed at scale, dividing the dataset into smaller chunks which can then be run parallel and even distributed across multiple nodes</p>
								</div>
							<li class="talk"> My Journey From Python to R (featuring Dota 2) (Wasim Lorgat)  <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> This talk is a lightning-documentation of my (open and reproducible) journey from Python to R. To make it more interesting, the learning process is centered around mini-projects in analysing data from Dota 2 games (one of the most popular eSports games and a personal favourite)!</p>
								</div>
							<li class="talk"> R is for Racing (Schalk Heunis) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> Using R to train the ConvNet of a self-driving RC car. The car uses a RaspberryPi to stream images into a Keras based model that outputs direction and speed in real-time. R was used to visualize and augment training data, train the model and visualize the results and iteratively improve performance.</p>
								</div>
							<li class="talk"> R in strategy consulting (Marc van Heerden)
								<div class="session-abstract abstract">
								<p> Discussing how R is well suited to the fast-paced, collaborative and distributed needs of modern strategy consulting as well as how R is used at Bain & Company and where it fits in with the consultant/supporting staff’s toolset.</p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr>

<tr>
		    	<td>12:30</td>
		    	<td>13:30</td>
		    	<td>
		    		<div class="session-title"> Lunch </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>13:30</td>
		    	<td>14:20</td>
		    	<td>
		    		<div class="session-chair">Marie Dussault</div>
		    		<div class="session-title"> </div>
		    		<div class="session-talk">
		    			<ul>
							<li class="talk"> Identifying bias in South African graduate recruitment (Neil Rankin)
								<div class="session-abstract abstract">
								<p> There is a lot of evidence that gender and racial biases affect hiring. In South Africa the Employment Equity Act aims to correct this. We use a dataset of graduate applications to show that males and white candidates are favoured by recruiters, and discuss what leap.ly is doing to address this.</p>
								</div>
							<li class="talk"> Exact Factors - Improving Haven's Exporting from R to Stata (Jed Stephens) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> "This talk introduces a suite of functions that extend Wickham's Haven package to provide the user with specific levels for factors - a critical aspect of Stata-ready data.</p> <p> Haven's current exports have arbitrary factor levels which are unacceptable especially with survey data."</p>
								</div>
							<li class="talk"> Using SQL from R: A short introduction (Deveshnie Mudaly) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> The sqldf package can be used to execute SQL statements in R. For those competent in SQL, this  function is extremely useful. SQL is a powerful language and, when used in conjunction with R, can enhance and improve the analysis of data. I have made use of SQL to simplify my data frames quickly.</p>
								</div>
							<li class="talk"> Modeling game-play momentum in Rugby Union with RShiny (Neil Watson) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> How do situational variables like field position, current score, and time remaining influence a team's momentum? We combine data wrangling and visualization with rich historical game data to produce a momentum 'map' that provides decision support in the form of insight into the best actions to take.</p>
								</div>	
						</ul>
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>14:20</td>
		    	<td>15:20</td>
		    	<td>
		    		<div class="session-title"> Keynote #2: (Stephanie Kovalchik) </div>
		    		<div class="session-chair">Theoni Photopoulou</div>
		    		<div class="session-talk">
		    			<ul>
							<li class="talk"> An R Engine for Real-Time Sports Analytics</li> 
								<div class="session-abstract abstract">
								<p> The Game Insight Group (GIG) at Tennis Australia is aiming to revolutionize statistical thinking in tennis. To meet that goal, we are developing new performance metrics and providing these to players, broadcasters, and fans in real-time at professional tennis events. R is at the core our our analytics tools. In this talk, I will describe how we are using R to design real-time applications for delivering advanced sports statistics to a range of stakeholders. The talk will highlight strategies for developing efficient code, automating processes, and creating customized statistical reports in R markdown.</p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>15:20</td>
		    	<td>15:50</td>
		    	<td>
		    		<div class="session-title"> Coffee/Tea </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>15:50</td>
		    	<td>17:10</td>
		    	<td>
		    		<div class="session-chair">Takwanisa Machemedze</div>
		    		<div class="session-title"></div>
		    		<div class="session-talk">

		    			<ul>
							<li class="talk"> Listening to the news: Big data for consumer sentiment analysis (Hanjo Odendaal)<i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> Currently we are researching on how to incorporate a new form of information, textual data, into the already existing mixed-frequency econometric framework. Can we use alternative secondary data sources to construct a consumer sentiment index that captures perceived economic outlook. I believe it so</p>
								</div>
							<li class="talk"> Why build Models as Apps? (Naas van Heerden)<i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> The talk makes the case for building models as dynamic apps. R + package development + Shiny have massive potential as an alternative to traditional static spreadsheets models. Included will be an illustration using a commercially marketed Shiny application that models loan profitability.</p>
								</div>
							<li class="talk"> ckan + R: workflows for data retrieval and archiving (Wiebke Toussaint)
								<div class="session-abstract abstract">
								<p> Ever wished you could suck that cited dataset directly into your models? ckanr makes it possible. No downloads, no convoluted folders, no lost data. Learn to create workflows that combine the power of CKAN, a leading data portal platform, with R to make data archiving and retrieval a breeze.</p>
								</div>
							<li class="talk"> Simulating Trading Strategies for Testing Skill vs Luck or Overfitting (Jasen Mackie)<i class="fa fa-flash lightning"></i> 
								<div class="session-abstract abstract">
								<p> Simulating the P&L of quant trading strategies can shed light on the dynamics of a strategy, like confidence intervals of max drawdown, but simulating individual trade entries and exits can uncover more insights ultimately discerning skill vs luck or overfitting. Introducing txnsim() in blotter!</p>
								</div>	
							<li class="talk"> Creating interactive plots in five minutes with datapasta and plotly (Andrew Clark) <i class="fa fa-flash lightning"></i>
								<div class="session-abstract abstract">
								<p> Ever seen a table on the web and thought "I wonder what that would look like as a chart" or
								"I really need to impress my boss in the next 15 minutes" </p>
								<p>Here is how to turn a dry set of figures into a compelling  visual. Just copy a table, paste it into R, add a few lines of code and voila!"</p>
								</div>
							<li class="talk"> The R profiler: R's best kept secret (David Lubinsky)
								<div class="session-abstract abstract">
								<p> Your R program is running too slowly and you don't know why. The RStudio profiler will tell you exactly where all the time is being spent along with useful visualisations. Profiling is an essential, but often overlooked, tool for every serious R developer's toolkit.</p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr>
		  	
		  	<tr>
		    	<td>17:10</td>
		    	<td>17:20</td>
		    	<td>
		    		<div class="session-title"> RStudio Student Lightning Talk Prize </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>17:20</td>
		    	<td>17:25</td>
		    	<td>
		    		<div class="session-title"> Closing </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>

		  	<tr>
		    	<td>17:30</td>
		    	<td>19:00</td>
		    	<td>
		    		<div class="session-title">Cocktails and Conversation </div>
		    		<div class="session-talk">
					</div>
			    </td>
		  	</tr>


		</tbody>
  	</table>
	
	<p>Panel for Student Lightning Talk competition:</p>
	<ul>
		<li> Alice Coyne,
		<li> Jasen Mackie and
		<li> Marc van Heerden.
	</ul>
</section>

		  	<!-- <tr>
		    	<td>8:00</td>
		    	<td>9:00</td>
		    	<td>
		    		<div class="session-title"> </div>
		    		<div class="session-talk">
		    			<ul>
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>	
							<li class="talk"> 
								<div class="session-abstract abstract">
								<p></p>
								</div>
						</ul>
					</div>
			    </td>
		  	</tr> -->
