<!-- <section id="R Ladies Event">
<h2> R-Ladies Event </h2>

<p><b>When: March 15, 6:00 PM to 8:30 PM. </b></p>
<p><b>Where: <a href="https://goo.gl/maps/od8cH49aYex">Bandwidth Barn,</a>Woodstock Exchange, 66-68 Albert Road, Cape Town</b></p>


<p> Both ​satRday ​keynote speakers​, ​Maëlle Salmon and Stephanie Kovalchik​,​ are involved in R-Ladies​. This is​ a worldwide organisation whose mission is to promote gender diversity in the R community, with chapters in cities all over the world.</p>

<p> The R-Ladies Cape Town chapter has invited Maëlle and Stephanie, as well as Marie Dussault​ from Pretoria​, ​to come and meet their chapter. Maëlle, Stephanie and Marie have offered to give short presentations about creating blogs with R​.</p>

<p>The event is primarily aimed at women (including all female-identifying people) but men are welcome provided they do not take a leadership role.</p>

<p>This meet-up will provide a great opportunity for all current and prospective R users to meet and chat with like minded people. <b>We'd love to see you there</b>, especially if this is your first R-Ladies event.​ This invite is still extended even if you aren't participating in satRday this year.</p>

<p> If you are interested attending similar events in the future please get in contact with us via our <a href="https://www.meetup.com/rladies-cape-town/">Meetup page</a> or our <a href="https://rladies.org"> Twitter</a> account.</p>

<!-- <a href="https://rladies.org"><i class="fa fa-globe" aria-hidden="true"></i></a>
<a href="https://rladies.org"><i class="fa fa-meetup" aria-hidden="true"></i></a> -->

</section>