<section id="registration">
    <h2>Registration</h2>
    <p>Early Bird tickets now available! <b>Offer ending on 2016-12-23</b>*.</p>
    <small>(*) No late or at the door registration available. Early Bird pricing ends on 2016-12-23. Standard price for Day Passes will be R200.00 and Training Passes will be R1500.00.</small>

    <h3 class="center">Training Pass</h3>

    <p>The training pass gives you access to all three <a href="#workshops">workshops</a> held by our Keynote Speakers. These workshops will
        be run one after the other on <b>16<sup>th</sup> and 17<sup>th</sup> February 2017</b>.</p>

        <!--
    <div class="alert alert-danger" role="alert">Early Bird tickets for the workshops are sold out!</div>
    <div class="alert alert-info" role="alert">More tickets for the workshops will be available from 24 December 2016.</div>
    -->
    <div class="alert alert-danger" role="alert">All tickets for the workshops are sold out!</div>
    <div class="alert alert-info" role="alert">Tickets for the satRday conference on 18 February are still available <a href="https://www.quicket.co.za/events/22932-satrday-cape-town/" target="BLANK">here</a>.</div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Training Pass <br/> (Early Bird R1000.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>2 Day Workshop</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://www.quicket.co.za/events/22932-satrday-cape-town/" target="BLANK">Register Now!</a>
    </div>

    <h3 class="center">Day Pass</h3>

    <p>The Day Pass gives you access to <b>South Africa's first International R conference</b> and the worlds second sat<b>R</b>day. Come and join us on the <b>18<sup>th</sup> February</b> for this day dedicated to R.</p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Day Pass <br/> (Early Bird R100.00)&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Morning Tutorials</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>All Conference Talks</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Two networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://www.quicket.co.za/events/22932-satrday-cape-town/" target="BLANK">Register Now!</a>
    </div>

</section>
