<section id="registration">
    <h2>Registration</h2>

    <p><a href="https://www.quicket.co.za/events/22932-satrday-cape-town/">Register now</a> for the satRday Conference and Pre-Conference
        Workshops.</p>

    <h3>satRday Conference</h3>
    <p>To make the satRday as accessible as possible we've kept the registration fees as low as possible. The fee structure
        below should be affordable to students.</p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Early bird registration (until 2016-12-23)</th>
                <td>R100</td>
            </tr>
            <tr>
                <th>Standard registration (until 2017-02-15)</th>
                <td>R200</td>
            </tr>
            <tr>
                <th>Late and on-site registration</th>
                <td>Not available.</td>
            </tr>
        </tbody>
    </table>
    <p>Registering for the event entitles you to attend a workshop in the morning, all conference talks, a lunch at noon and
        2 coffee breaks. No hidden costs.</p>

    <h3>satRday Pre-Conference Workshops</h3>
    <p>The workshops scheduled for the two days prior to satRday will provide great value for money instruction from international
        R experts.</p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Early bird registration (until 2016-12-23)</th>
                <td>R1000</td>
            </tr>
            <tr>
                <th>Standard registration (until 2017-02-15)</th>
                <td>R1500</td>
            </tr>
            <tr>
                <th>Late and on-site registration</th>
                <td>Not available.</td>
            </tr>
        </tbody>
    </table>
</section>