<section id="registration">
    <h2>Registration</h2>
    <p>Early Bird tickets now available! <b>Offer ends 2018-01-20</b>*.</p>
    <small>
      (*) No late or at the door registration available. Early Bird pricing ends on 2018-01-20.         <br>
      Standard price for Conference Passes will be R500.00 and Workshop Passes will be R1500.00
    </small>

    <h3 class="center">Workshop Pass</h3>

    <p>A workshop pass gives you access to one of the 
    <a href="#workshops">workshops</a> held by our Keynote Speakers. These 
    full day workshops will be run in parallel on the <b>16<sup>th</sup> March 
    2018</b>.
    </p>
    
    <!--
    <div class="alert alert-danger" role="alert">
      Early Bird tickets for the workshops are sold out!
    </div>
    <div class="alert alert-info" role="alert">
      More tickets for the workshops will be available from 24 December 2016.
    </div>
    
    <div class="alert alert-danger" role="alert">All tickets for the workshops are sold out!</div>
    <div class="alert alert-info" role="alert">Tickets for the satRday conference on 18 February are still available <a href="https://www.quicket.co.za/events/22932-satrday-cape-town/" target="BLANK">here</a>.</div>
    -->

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Workshop Pass <br/> (Early Bird R1000.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>1 Day Workshop</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://www.quicket.co.za/events/37111-satrday-cape-town-workshops/" target="BLANK">Buy Workshop Pass</a>
    </div>

    <h3 class="center">Conference Pass</h3>

    <p>The Conference Pass gives you access to South Africa's second 
    sat<b>R</b>day. Come and join us on the <b>17<sup>th</sup> March 2018</b> 
    to meet with and hear from both local and international R enthusiasts!
    </p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="center">Conference Pass <br/> (Early Bird R200.00)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Morning Tutorials</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>All Conference Talks</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Lunch</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td><b>Networking breaks with refreshments provided</b></td>
                <td class="center green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="center">
        <a class="btn btn-success register" href="https://www.quicket.co.za/events/37189-satrday-cape-town/" target="BLANK">Buy Conference Pass</a>
    </div>
</section>
