<section id="speakers">
    <h2>Speakers</h2>

    <h4>Keynote Speakers</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-stephanie.jpg" />
                </div>
                <div class="keynote-name">
                    Stephanie Locke
                </div>
                <div class="keynote-position">
                    Data Scientist
                </div>
                <div class="keynote-affiliation">
                    <a href="https://www.censornet.com/">CensorNet Ltd</a>
                </div>
                <div class="speaker-social">
                    <!--
	                <a href="https://za.linkedin.com/in/karel-verhoeven-0b299b89"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	                -->
                    <a href="https://twitter.com/SteffLocke"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/stephlocke"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                    Security Data Scientist during the day and by night a user group leader locally, conference organiser nationally,
                    and presenter globally. Steph loves to help folk share knowledge.
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-jenny.jpg" />
                </div>
                <div class="keynote-name">
                    Jennifer Bryan
                </div>
                <div class="keynote-position">
                    Associate Professor
                </div>
                <div class="keynote-affiliation">
                    <a href="https://www.ubc.ca/">University of British Columbia</a>
                </div>
                <div class="speaker-social">
                    <!--
	                <a href="https://za.linkedin.com/in/karel-verhoeven-0b299b89"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	                -->
                    <a href="https://twitter.com/JennyBryan"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/jennybc"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                    Jennifer Bryan is Associate Professor of Statistics at the University of British Columbia and the Academic Director of UBC's
                    new Master of Data Science program. Her work is focused on creating workflows and tools for the full
                    cycle of data analysis, from ingest to communication, with an emphasis on openness and reproducibility.
                    She shares teaching material at <a href="http://stat545.com">STAT545.com</a> and
                    serves in the leadership of <a href="http://ropensci.org">rOpenSci</a>.
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-julia.jpg" />
                </div>
                <div class="keynote-name">
                    Julia Silge
                </div>
                <div class="keynote-position">
                    Data Scientist
                </div>
                <div class="keynote-affiliation">
                    <a href="http://idatassist.com/">Datassist</a>
                </div>
                <div class="speaker-social">
                    <!--
	                <a href="https://za.linkedin.com/in/karel-verhoeven-0b299b89"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	                -->
                    <a href="https://twitter.com/juliasilge"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/juliasilge"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                    Julia is a Data Scientist with Datassist, where her work involves analyzing and modeling complex data sets and communicating
                    about technical topics with diverse audiences. She has a PhD in Astrophysics, as well as abiding affections
                    for Jane Austen and making beautiful charts. Julia worked in academia and ed tech before moving into
                    data science and discovering R.
                </div>
            </div>
        </div>
    </div>

    <h4 class="space">Confirmed Speakers</h4>
    <div class="row">
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-ryan-nel.jpg">
                </div>
                <div class="speaker-name">
                    Ryan Nel
                </div>
                <div class="speaker-position">
                    Developer
                </div>
                <div class="speaker-affiliation">
                    Derivco
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/ryannel"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/rlnel"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/ryannel"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-hanjo-odendaal.jpg">
                </div>
                <div class="speaker-name">
                    Hanjo Odendaal
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Eighty20 Analytics
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/HanjoStudy"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/nicolaasjohannes"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-anne-treasure.jpg">
                </div>
                <div class="speaker-name">
                    Anne Treasure
                </div>
                <div class="speaker-position">
                    Postdoc
                </div>
                <div class="speaker-affiliation">
                    University of Cape Town
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/AnneMTreasure/"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/annemtreasure"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/anne-treasure-6815701a"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-etienne-koen.jpg">
                </div>
                <div class="speaker-name">
                    Etienne Koen
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Barclays
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/etiennekoen"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <!--
          <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
              <div class="speaker-photo">
                <img src="http://placehold.it/260x260">
              </div>
              <div class="speaker-name">
                Karel Verhoeven
              </div>
              <div class="speaker-position">
                Data Scientist
              </div>
              <div class="speaker-affiliation">
                OLX
              </div>
              <div class="speaker-social">
                <a href="https://za.linkedin.com/in/karel-verhoeven-0b299b89"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
              <div class="speaker-bio">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
              <div class="speaker-photo">
                <img src="http://placehold.it/260x260">
              </div>
              <div class="speaker-name">
                Rodney Morgan
              </div>
              <div class="speaker-position">
                Data Scientist
              </div>
              <div class="speaker-affiliation">
                Shoprite
              </div>
              <div class="speaker-social">
                <a href="https://za.linkedin.com/in/rodney-morgan-4614755"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
              <div class="speaker-bio">
              </div>
            </div>
          </div>
          -->
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-niels-berglund.jpg">
                </div>
                <div class="speaker-name">
                    Niels Berglund
                </div>
                <div class="speaker-position">
                    Software Specialist
                </div>
                <div class="speaker-affiliation">
                    Derivco
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/niels-berglund-0122593"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-andrew-collier.jpg">
                </div>
                <div class="speaker-name">
                    Andrew Collier
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Derivco
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/DataWookie"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/DataWookie"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/datawookie"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
    </div>
    <!--
        <div class="row">
          <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
              <div class="speaker-photo">
                <img src="http://placehold.it/260x260">
              </div>
              <div class="speaker-name">
              </div>
              <div class="speaker-position">
              </div>
              <div class="speaker-affiliation">
              </div>
              <div class="speaker-social">
              </div>
              <div class="speaker-bio">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
              <div class="speaker-photo">
                <img src="http://placehold.it/260x260">
              </div>
              <div class="speaker-name">
              </div>
              <div class="speaker-position">
              </div>
              <div class="speaker-affiliation">
              </div>
              <div class="speaker-social">
              </div>
              <div class="speaker-bio">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
              <div class="speaker-photo">
                <img src="http://placehold.it/260x260">
              </div>
              <div class="speaker-name">
              </div>
              <div class="speaker-position">
              </div>
              <div class="speaker-affiliation">
              </div>
              <div class="speaker-social">
              </div>
              <div class="speaker-bio">
              </div>
            </div>
          </div>
        </div>
        -->
</section>
