<section id="sponsors">
    <h2>Sponsors</h2>
    <p>
        We thank our generous sponsors for supporting Cape Town sat<b>R</b>day. Your financial help and commitment to the R community are greatly appreciated and essential to making this event possible!
    </p>

    
    <!--
    <h3 class="sponsor-category">Diamond</h3>
    <h3 class="sponsor-category">Gold</h3>
    -->
    <h3 class="sponsor-category">Silver</h3>
    <div class="row">
      <div class="col-sm-12">
          <a href="https://www.vantagedata.co.za"><img src="images/sponsors/vantage-data.png" title="Vantage Data"></a>
      </div>
    </div>
    <h3 class="sponsor-category">Bronze</h3>
    <div class="row">
      <div class="col-sm-6">
          <a href="https://bit.ly/2yVTUKO"><img src="images/sponsors/offerzen.png" title="OfferZen"></a>
      </div>
      <div class="col-sm-6">
          <a href="https://www.publichealth.uct.ac.za/phfm_epidemiology-and-biostatistics"><img src="images/sponsors/uct.png" title="UCT Division of Epidemiology and Biostatistics"></a>
      </div>
      <div class="col-sm-6">
          <a href="https://www.rstudio.com/"><img src="images/sponsors/rstudio.png" title="RStudio"></a>
      </div>
      <div class="col-sm-6">
          <a href="https://www.datacamp.com/"><img src="images/sponsors/datacamp.png" title="DataCamp"></a>
      </div>
      <div class="col-sm-6">
          <a href="https://www.jumpingrivers.com/?utm_source=sponsor&utm_medium=image&utm_campaign=satrdays2018"><img src="images/sponsors/jumping-rivers.png" title="JumpingRivers"></a>
      </div>
      <div class="col-sm-6">
          <a href="https://www.toptal.com/"><img src="images/sponsors/toptal.png" title="Toptal"></a>
      </div>
    </div>
      <!--
        <div class="col-sm-4">
            <a href="https://www.r-consortium.org"><img src="images/sponsors/r_consortium.png" class="platinum sponsor img-responsive" title="R Consortium"></a>
        </div>
        <div class="col-sm-4">
            <a href="https://www.derivco.com/"><img src="images/sponsors/derivco.png" class="platinum sponsor img-responsive" title="Derivco"></a>
        </div>
        <div class="col-sm-4">
            <a href="https://ixperience.co.za/"><img src="images/sponsors/ixperience.png" class="platinum sponsor img-responsive" title="iXperience"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="https://www.microsoft.com/en-za/"><img src="images/sponsors/microsoft.jpg" class="platinum sponsor img-responsive" title="Microsoft"></a>
        </div>
        -->

</section>
