<section id="sponsors">
    <h2>Sponsors</h2>

    <p>
        We thank our generous sponsors for supporting Cape Town sat<b>R</b>day. Your financial help and commitment to the R community are
        greatly appreciated and essential to making this event possible!
    </p>

    <div class="row">
        <h3 class="center sponsor">Platinum</h3>
        <div class="col-sm-4">
            <a href="http://www.r-consortium.org"><img src="images/sponsors/r_consortium.png" class="platinum sponsor img-responsive" title="R Consortium"></a>
        </div>
        <div class="col-sm-4">
            <a href="http://www.derivco.com/"><img src="images/sponsors/derivco.png" class="platinum sponsor img-responsive" title="Derivco"></a>
        </div>
        <div class="col-sm-4">
            <a href="http://ixperience.co.za/"><img src="images/sponsors/ixperience.png" class="platinum sponsor img-responsive" title="iXperience"></a>
        </div>
    </div>
    <div class="row">
        <h3 class="center sponsor">Gold</h3>
        <div class="col-sm-3">
            <a href="http://www.vantagedata.co.za"><img src="images/sponsors/vantage-data.png" class="gold sponsor img-responsive" height="90px" title="Vantage Data"></a>
        </div>
    </div>
    <div class="row">
        <h3 class="center sponsor">Silver</h3>
        <div class="col-sm-3">
            <a href="http://www.publichealth.uct.ac.za/phfm_epidemiology-and-biostatistics"><img src="images/sponsors/uct.jpg" class="silver sponsor img-responsive" height="90px" title="UCT Division of Epidemiology and Biostatistics"></a>
        </div>
    </div>
</section>