<section id="venue">
    <h2>Venue</h2>

    <p>
        Nestled in the heart of Cape Town's V&A Waterfront, <a href="http://workshop17.co.za/" target="BLANK">Workshop 17</a> is a bustling hub for start-ups and entrepreneurs alike.
    </p>
    
    <div class="row">
        <div class="col-sm-12">
            <img src="images/workshop17_main.jpg" alt="workshop17 outdoor">
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
            <br/>
            <img src="images/workshop17_space.jpg" alt="workshop17 work areas">
        </div>
        <div class="col-sm-4">
            <br/>
            <img src="images/workshop_17_cafe.jpg" alt="workshop17 cafe">
        </div>
        <div class="col-sm-4">
            <br/>
            <img src="images/workshop17_amphitheatre.jpg" alt="workshop17 amphitheatre">
        </div>
    </div>
    
    <h3 class="center">Travel</h3>
    
    <p>Close to the City Center <a href="http://workshop17.co.za/" target="BLANK">Workshop 17</a> is within easy reach of transport and <a href="http://www.booking.com/searchresults.en-gb.html?label=gen173nr-1FCAEoggJCAlhYSDNiBW5vcmVmaPsBiAEBmAEuuAEKyAEM2AEB6AEB-AELqAID;sid=8a537baf9cf2afadd24100149fe9cc6c;checkin_month=12;checkin_monthday=4;checkin_year=2016;checkout_month=12;checkout_monthday=5;checkout_year=2016;city=-1217214;class_interval=1;dest_id=1119;dest_type=district;dtdisc=0;group_adults=2;group_children=0;hlrd=0;hyb_red=0;inac=0;label_click=undef;nha_red=0;no_rooms=1;offset=0;postcard=0;qrhpp=d68eef873fe05adcd9651c08a128b9c3-district-0;redirected_from_city=0;redirected_from_landmark=0;redirected_from_region=0;review_score_group=empty;room1=A%2CA;sb_price_type=total;score_min=0;search_pageview_id=fa2b84ab51f6006a;src=searchresults;src_elem=sb;ss=v%26a+waterfront;ss_all=0;ssb=empty;sshis=0;srpos=1;origin=search#map_opened-map-header-cta">accommodation</a>.</p>
    
    <div class="row">
        <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.3228506539103!2d18.41651455142603!3d-33.90708942838492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc675af45d245b%3A0x3aada6e67bdaf244!2sWorkshop17!5e0!3m2!1sen!2sza!4v1480877136865" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
