<section id="workshops">
    <h2>Workshops</h2>
    <p>The sat<b>R</b>day Capetown conference will kick off on the 16<sup>th</sup> of February 2017* with 2 days of workshops
        held by our 3 international Keynote speakers.</p>

    <small>(*) Workshops available to training pass holders only.</small>

    <h3 class="center">Shiny</h3>
    <h4>with Julia Silge</h4>

    <p>
        <a href="http://shiny.rstudio.com/">Shiny</a> is a framework for building interactive web apps and dashboards using
        the statistical programming language R. In this workshop, we will walk through how to move from an analysis performed
        in R, with plots and tables that an analyst wants to share, to a self-contained web app. We will learn:

    </p>

    <ul>
        <li>what reactive programming is,</li>
        <li>how to use the flexdashboard package to customize your app, and</li>
        <li>how to publish and share your app.</li>
    </ul>

    <p>
        <b>Attendees should bring a laptop with the latest versions of <a href="https://www.r-project.org">R</a> and
        <a href="https://www.rstudio.com/products/rstudio/download">RStudio</a> installed, and we will build a Shiny app
        from scratch together.</b>
    </p>

    <h3 class="center">Git with R</h3>
    <h4>with Jennifer Bryan</h4>

    <p>
        Using Git and GitHub with R, RStudio and R Markdown.
        <br/><br/> Data analysts can use the <a href="https://git-scm.com">Git version control system</a> to manage a motley
        assortment of project files in a sane way (e.g. data, code, reports, etc.). This has benefits for the solo a nalyst
        and, especially, for anyone who wants to communicate and collaborate with others. Git helps you organize your project
        over time and across different people and computers. Hosting services like <a href="https://github.com">Git
        Hub</a>, <a href="https://bitbucket.org">Bitbucket</a> and <a href="https://about.gitlab.com">GitLab</a> provide
        a home for your Git-based projects on the internet.
    </p>

    <p>What's special about using R and Git(Hub)?</p>

    <ul>
        <li>the active R package development community on GitHub</li>
        <li>workflows for R scripts and <a href="http://rmarkdown.rstudio.com">R Markdown</a> files that make it easy to share
            source and rendered results on GitHub</li>
        <li>Git and GitHub-related features of the <a href="https://www.rstudio.com/products/rstudio-desktop">RStudio IDE</a></li>
    </ul>

    <p>The tutorial will be structured as ~5 task-oriented units. Indicative topics:</p>

    <ul>
        <li>The most difficult part: installation and configuration!</li>
        <li>Creating a Git repository and connecting the local repo to a GitHub remote, for new and existing projects.</li>
        <li>The intersection of GitHub and the R world: R packages developed on Github and how to make use of <a href="https://guides.github.com/features/issues">issues</a>;
            <a href="http://www.r-pkg.org">METACRAN</a>, <a href="https://github.com/cran">read-only mirror</a> all of CRAN;
            R-specific searching tips.</li>
        <li>Daily workflows and FAQ: how often should I commit?, which files should I commit? how do I change a commit or its
            message? how do groups of 1, 5, or 10 people structure their work with Git(Hub)? etc.</li>
    </ul>

    <p><b>This will be a hands-on tutorial, so bring your prepared laptop and pre-register a free GitHub account.</b></p>

    <h3 class="center">Introduction to A/B Testing</h3>
    <h4>with Hilary Parker</h4>

    <p>A/B testing is a common technique used to optimize a website. In this workshop, we'll go through the basics of A/B testing:</p>
    <ul>
        <li>Simulating A/B testing results;</li>
        <li>tidyverse approach to A/B testing analysis;</li>
        <li>using linear models;</li>
        <li>best practices for report generation.</li>
    </ul>
</section>