<section id="workshops">
    <h2>Workshops</h2>
    <p>The sat<b>R</b>day Capetown conference will kick off on the 16<sup>th</sup> of February 2017* with 2 days of workshops held
        by our 3 international key note speakers.</p>
    <ul>
        <li>Introduction to A/B Testing (Hilary Parker)</li>
        <li>Using Git and GitHub with R, RStudio, and R Markdown (Jennifer Bryan)</li>
        <li>Shiny Workshop (Julia Silge)</li>
    </ul>

    <small>(*) Workshops available to training pass holders only.</small>
</section>