<section id="workshops">
    <h2>2018 Workshops</h2>
    <p>The sat<b>R</b>day Cape Town conference kicked off on the 
    16<sup>th</sup> of March 2018 with a day of workshops held by our Keynote 
    Speakers. Note that these were full day workshops and took place in 
    parallel, so you had to choose between them!</p>
    
    <!-- <small>(*) Workshops available to training pass holders only.</small> -->

    <h3 class="center">R package development</h3>
    <h5 class="center">...from laying functions to package hatching!</h5>
    <h4>Maëlle Salmon</h4>

    <p>
      This hands-on workshop will allow you to transform a bunch of R functions 
      into an R package. You'll also learn how to make it usable and used! We'll 
      assume you can write functions, and a basic familiarity with 
      <a href="https://git-scm.com">Git</a> & 
      <a href="https://github.com">GitHub</a>.
    </p>
    
    <p>Here is what we'll learn:</p>
    <ul>
      <li>Why develop a package?</li>
      <li>What is in a package?</li>
      <li><a href="https://github.com/hadley/devtools">devtools</a> workflow to create a package</li>
      <li>Automatic tools for improving a package, from R CMD Check to linting</li>
      <li>Creating a slick documentation website with <a href="https://hadley.github.io/pkgdown/">pkgdown</a></li>
      <li>Why and how to have your package reviewed?</li>
      <li>How to make your package famous or at least reach your audience?</li>
      <li>Package analytics via CRAN logs and via the <a href="https://github.com/r-lib/gh">gh</a> package.</li>
    </ul>

    <p>
      <b>Attendees should bring a laptop with the latest versions of 
        <a href="https://www.r-project.org">R</a> and 
        <a href="https://www.rstudio.com/products/rstudio/download">RStudio</a> 
        installed. Also bring your experience and questions about packages!
      </b>
    </p>

    <h3 class="center">The Sport Statistician’s Toolbox in R</h3>
    <h4>Stephanie Kovalchik</h4>

    <p>The workshop will cover a number of skills and statistical models that 
    are common in sports statistics and show how each can be implemented in R. 
    The workshop will introduce participants to a range of R packages and real 
    sports examples will be used throughout. It will be very hands-on!</p>
    
    <p>After completing this workshop, participants will be able to gather
    and clean public sports data more effectively, explore data with
    graphics, apply several common models used in sport, and share their sports 
    statistics ideas through a blog. A brief outline of the workshop is given 
    below.</p>

    <p>Workshop Outline:</p>
    <ul>
        <li>Sports data resources</li>
        <li>Web scraping</li>
        <li>Data exploration and validation</li>
        <li>Sports models and real applications
          <ul>
            <li>Bradley-Terry paired comparison models.<br>
            Application: Which team is the strongest in the English Football Association
            League?</li>
            <li>Pythagorean Theorem.<br>
            Application: How can we predict an NBA teams expected wins for the 
            season?</li>
            <li>Forecasting.<br>
            Application: What is the chance that a tennis serve will be a 
            service winner?</li>
            <li>Generalized Additive Models.<br>
            Application: How can we model the strike zone from baseball tracking 
            data?</li>
          </ul>
        </li>
        <li>Sports Blogging</li>
    </ul>
    <p>
      <b>Further details and instructions will be sent to participants prior to 
      the workshop.</b>
    </p>
    
    <h3 class="center">Data Carpentry Workshop for R novices</h3>
    <p>In 2018 we offered a Data Carpentry workshop which included R 
    programming for novices. 
    <a href="https://www.datacarpentry.org">Data Carpentry</a> workshops teach 
    introductory computational skills needed for data management and analysis in 
    all domains of research. <!-- For more information on syllabus and requirements 
    please visit the <a href="https://katrintirok.github.io/2018-03-15-satRday/">
    workshop webpage</a>.</p> -->
    
    <p>The Data Carpentry Workshop took place on the <b>15th and 16th March 
    2018</b>. Note that registration for this workshop is separate from satRday.
   <!--  Note the workshop is sold out.     -->
    
    <table class="table-buttons"><tr>
    <td><a class="btn btn-primary register" href="https://katrintirok.github.io/2018-03-15-satRday/" target="BLANK">More Info</a><td>
    <!--
        <td><a class="btn btn-success register" href="https://www.quicket.co.za/events/38931-satrday-data-carpentry-workshop/" target="BLANK">Register for Data Carpentry</a></td>
    -->    
    </tr></table>
    
</section>
